.search,
.cart {
  width: 1.5rem;
  height: 1.5rem;
}
.logo {
  height: 40px;
  width: 110px;
}
.navbar {
  max-width: 1170px;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}
.links {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.links li {
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.toggleBtn{
  color: #6c7ae0;
  background: transparent;
   font-size: 2rem;
}
.toggleBtn:hover {
  color: #000;
}
.cartContainer{
  position: relative;
}
.count{
  background: #6c7ae0;
  color: #fff;
  border-radius: 50%;
  padding: 3px 7px;
  position: absolute;
  display: inline-block;
  top: -1rem;
  right: -1.5rem;
}

@media screen and (min-width: 800px) {
  .navbar {
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .toggleBtn {
    display: none;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
