.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.heroInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s linear;
}
.heroHeader,
.blueInfo {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.heroImg {
  align-self: flex-end;
}
.heroImage {
  width: 85%;
  height: 90vh;
}
.blueInfo {
  color: #6c7ae0;
  letter-spacing: 0.2rem;
}


@media screen and (max-width: 800px) {
  .hero {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 95%;
    height: 100vh;
  }
  .heroImg {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .heroHeader,
  .blueInfo {
    font-size: 30px;
  }
}