.search,
.cart {
  width: 1.5rem;
  height: 1.5rem;
}
.logo {
  height: 40px;
}
.navbar {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li {
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
