.listItem{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: all 0.3s linear
}
@media screen and (max-width:800px) {
  .listItem{
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}