/* .btnContaine{
 
} */
.filterBtn{
   color: #000;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
.filterBtn:hover{
  color:  #6c7ae0;;
}