.btnContaine{
 position: block;
 display: flex;

}
.filterBtn{
   color: #000;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0.5rem 0.6rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.filterBtn:hover{
  color:  #6c7ae0;;
}