.item {
  width: 23rem;
  height: 20rem;
  margin: 1rem;
}
.imageContainer {
  align-self: center;
}

.itemImage {
  width: 100%;
  height: 15rem;
}
.itemDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemName {
  color: #000;
  font-size: 1rem;
  text-transform: capitalize;
}
.itemPrice {
  color: #6c7ae0;
  font-size: 1rem;
}

@media screen and (max-width:800px) {
  .item{
    width: 80vw;
  }
  .itemImage {
  width: 100%;
  height: 18rem;
}
}
