.container {
  padding: 0 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
}
.pageTitle {
  width: 95%;
  height: 25%;
  margin: 0 auto;
}
.blueText {
  color: #6c7ae0;
}
.aboutImage {
  align-self: center;
}
.aboutImg {
  width: 75vw;
  height: 50vh;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;
}
.contentHeader {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.aboutPara {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.underline {
  height: 2px;
  width: 4rem;
  background: #6c7ae0;
}

@media screen and (max-width: 500px) {
  .main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .aboutImg {
    width: 20rem;
  }
}
