.itemSection{
  display: flex;
  flex-direction: column;
  max-height: 100hv;
  gap: 1rem;
}
.itemImage{
  width: 50vw;
  height: 60vh;
}
.description{
  width: 80%;
  color: #000;
}
.itemContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  width: 50vw;
}
.itemName{
  color: #000;
}
.itemPrice{
  color: #6c7ae0;
}
.btnContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn2{
  background:#000;
  color: #000;
}

@media screen and (max-width:800px) {
  .itemImage{
  width: 90vw;
  height: 50vh;
}
.itemContent{
  width: 100%;
}
.description{
  width: 100%;
}
}



